$weakColor: #F7EBE8;
$backgroundColor: #1E1E24;
$backgroundTransparentColor: #0c0c0ed0;

.settingsBackground {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;  
    backdrop-filter: blur(5px);
    background-color: $backgroundTransparentColor;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settingsPanel {
    background-color: $backgroundColor;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    height: 400px;
    padding: 16px;

    button{
        width: 20px;
        height: 20px;
        margin: 10px;

        p{
            margin-top: -9px;
        }
    }
}

.theContainer{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.optionContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid $weakColor;
}

.settingsContainer {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items:flex-start;
    padding: 30px 50px 30px 50px;

    button {
        width: 80px;
        height: 50px;
    }
}