$strongColor: #E54B4B;
$weakColor: #F7EBE8;
$weakTextColor: #444140;
$backgroundColor: #1E1E24;

p {
    font-family: SeoulNamsan;
}

.freeColumn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 20px;

    h1 {
        font-family: Sansation;
    }

    p {
        font-family: SansationLight;
    }
}

.theRow {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.buttonGoogle {
    background-color: #ffffff00;
    color: $strongColor;
    font-family: Solway;
    border: 1px solid $strongColor;
    border-radius: 8px;
    padding: 30px;
}

.buttonGoogle:disabled {
    color: #e54b4b38;
    border: 1px solid #E54B4B38;
}